/*禁用复制等操作*/

html,
body {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}
#main{
    /*display: flex;*/
}
.flowchart-demo {
    width: 900px;
    height: 800px;
    border: 1px solid #000;
}

.flowchart-demo .window {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    font-size: 0.9em;
    line-height: 60px;
    width: 120px;
    height: 60px;
}
.flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.flowchart-demo .active {
    border: 1px dotted green;
}
.flowchart-demo .hover {
    border: 1px dotted red;
}
#element1 {
    top: 5em;
    left: 30em;
}
#element2 {
    top: 17em;
    left: 10em;
}
#element3{
    top: 17em;
    left: 50em;
}
#element4 {
    top: 33em;
    left: 0em;
}
#element5 {
    top: 33em;
    left: 22em;
}
#element21 {
    top: 33em;
    left: 0em;
}
#element22 {
    top: 33em;
    left: 12em;
}
#element23 {
    top: 33em;
    left: 22em;
}
#element24 {
    top: 33em;
    left: 32em;
}
#element25 {
    top: 33em;
    left: 42em;
}
#element26 {
    top: 43em;
    left: 42em;
}
